.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url("images/Rain - 28236.mp4") center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.container {
  font-family: "Montserrat", sans-serif;
}

.jumbotron {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

.jumbotron h1 {
  font-size: 100px;
}

.jumbotron h1 span {
  display: inline-block;
}

form {
  padding: 3%;
  border-radius: 4%;
  background-color: rgba(18, 41, 63, 0.548);
  color: white;
}

form small {
  color: lightgrey;
}
